#channel-menu {
    position: fixed;
    right:-30%;
    height: 100%;
    width: 30%;
    background-color: #242424;
    transition-duration: 0.2s;
    border-left: 1px solid black;
}

#channel-menu.display {
    right: 0;
}