#chat {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#title {
    max-height: 20%;
}

#chat-box {
    max-height: 80%;
    overflow-y: scroll;
    position: relative;
    flex-shrink: 1;
}