#chat-main {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr;
    padding: 5px;
    gap: 10px;
}

#chat-container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#chat {
    flex: 1; 
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

#title {
    min-height: 10%;
    flex-shrink: 0; 
    align-self: center;
    display: flex;
    align-items: center;
}

#chat-box {
    flex: 1; 
    min-height: 0; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column-reverse;
    border-radius: 12px;
    padding: 0 10px;
    background-color: #363636;
    box-shadow: #292929 5px 5px 5px inset;
}

/* Hiding scrollbars */

/* Hide scrollbar for Chrome, Safari and Opera */
#chat-box::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#chat-box {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* End Hiding scrollbars */


#user-controls {
    height: 10%;
    flex-shrink: 0; 
}