.submenu {
    position: fixed;
    height: 40%;
    width: 25%;
    background-color: #1a1a1a;
    left: 25%;
    top: 10%;
    padding: 10px;
}

.person-result {
    display: flex;
    height: 5%;
}

.person-result > button {
    font-size: 0.8em;
}