#signin-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#signin-page > * {
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    box-shadow: rgb(19, 19, 19) 5px 5px 5px inset;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signin-page > * > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#register-errors {
    height: 24px;;
}